In [54]:
import pandas as pd
sample_df = pd.DataFrame({"a": [1,2,3], "b": [ 4,5,6], "c": [6,7,8]})

In [55]:
sample_df

   a  b  c
0  1  4  6
1  2  5  7
2  3  6  8

In [56]:
sample_df.loc[(sample_df["a"] == 1), ["a","c"]]

   a  c
0  1  6